<form action="/create_acc" method="post">
    <label for="create_acc_name">Benutzername</label>
    <input type="text" id="create_acc_name" name="create_acc_name">
    <label for="create_acc_mail">E-Mail</label>
    <input type="text" id="create_acc_mail" name="create_acc_mail">
    <label for="create_acc_password">Passwort</label>
    <input type="password" id="create_acc_password" name="create_acc_password">
    <input type="submit" value="create_acc_submit">
</form>