<nav class="bg-red-600 text-2xl flex">
    <a class="hover:bg-red-800 p-4 font-bold" href="/ttrpg-area">Startseite</a>
    <a class="hover:bg-red-800 p-4 font-bold" href="/ttrpg-area/charsheet_choose">Online Charactersheet</a>
    <a class="hover:bg-red-800 p-4 font-bold" href="/ttrpg-area/appointer">Terminplaner</a>
    <span class="group p-4 ml-auto">
        <% if (logged_in == 1) { %>
            <a href="/ttrpg-area/logout" class="group-hover:inline-block hidden rounded-lg hover:bg-red-800 mr-4">Logout</a>
            <a href="/ttrpg-area/account" class="group-hover:inline-block hidden rounded-lg hover:bg-red-800 mr-4">Account</a>
            <a class="hover:bg-red-800 rounded-lg font-bold"></a>
            <%= typeof username !='undefined' ? username : 'def' %>
        <% } else {%>
            <a class="hover:bg-red-800 rounded-lg font-bold" href="/ttrpg-area/login">Login</a>
        <% } %>
    </span>
</nav>