<form action="/login" method="post">
    <label for="login_name">Benutzername</label>
    <input type="text" id="login_name" name="login_name">
    <label for="login_password">Passwort</label>
    <input type="password" id="login_password" name="login_password">
    <input type="submit" value="login_submit">
</form>