<!DOCTYPE html>
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <title>Terminplaner</title>
    <link href="/ttrpg-area/output.css" rel="stylesheet">
    <script src="/ttrpg-area/script.js"></script>
</head>

<body class="bg-gray-700 h-full">
    <header class="">
        <%- include('../partials/header'); %>
    </header>

    <main class="h-full bg-gray-700 grid grid-rows-5 justify-center">
        <div class="grid justify-center bg-zinc-900 p-8 rounded-lg row-start-2 row-end-4 w-min h-min">
            <span class="text-white text-2xl text-center">Deine Charaktere:</span>
            <% characters.forEach(function(character) { %>
                <form class="grid justify-items-center" action="/ttrpg-area/charsheet_main" method="post">
                    <input type="hidden" id="cha_id" name="cha_id" value="<%= character.cha_id %>">
                    <input type="submit" class="text-white hover:text-opacity-50 rounded-lg text-xl m-0.5" value="<%= character.cha_name %> &#10132">
                </form>
            <% }); %>
            <% if (characters.length == 0) { %> 
                <span class="mt-6 text-white text-xl text-center">Du hast bisher keine Charaktere!</span>
            <% } %>
            <hr class="mt-6">
            <span class="text-white text-xl mt-6 text-center">Oder erstelle einen neuen Charakter:</span>
            <form class="mt-2 grid justify-center" action="/ttrpg-area/create_char" method="post">
                <label class="text-white text-xl" for="char_name">Name</label>
                <input class="bg-white" type="text" id="char_name" name="char_name" required><br>
                <input class="bg-red-600 rounded-lg text-xl p-1 mt-2 hover:bg-red-800" type="submit" value="Erstellen">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>