<!DOCTYPE html>
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <title>Terminplaner</title>
    <link href="/output.css" rel="stylesheet">
    <script src="/script.js"></script>
</head>

<body class="bg-dark h-full">
    <header class="bg-red">
        <%- include('../partials/header'); %>
    </header>

    <main class="h-full bg-dark grid grid-rows-5 justify-center">
        <div class="grid justify-center bg-gun p-8 rounded-lg row-start-2 row-end-4 w-min h-min">
            <span class="text-text text-2xl text-center">Deine Charaktere:</span>
            <% characters.forEach(function(character) { %>
                <form action="/charsheet_main" method="post">
                    <input type="hidden" id="cha_id" name="cha_id" value="<%= character.cha_id %>">
                    <input type="submit" class="text-text hover:text-opacity-50 rounded-lg text-xl m-0.5" value="<%= character.cha_name %>">
                </form>
            <% }); %>
            <% if (characters.length == 0) { %> 
                <span class="mt-6 text-rosso text-xl text-center">Du hast bisher keine Charaktere!</span>
            <% } %>
            <hr class="mt-6">
            <span class="text-text text-xl mt-6 text-center">Oder erstelle einen neuen Charakter:</span>
            <form class="mt-2 grid justify-center" action="/create_char" method="post">
                <label class="text-text text-xl" for="char_name">Name</label>
                <input class="bg-white" type="text" id="char_name" name="char_name" required><br>
                <input class="bg-rosso rounded-lg text-xl p-1 mt-2 hover:bg-bloodred" type="submit" value="Erstellen">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>