<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TTRPG-Area</title>
    <link href="/output.css" rel="stylesheet">
</head>

<body class="bg-gray-700">
    <header class="bg-red">
        <%- include('../partials/header'); %>
    </header>

    <main class="grid m-2">
        <h1 class="text-5xl font-bold text-white text-center m-6">Willkommen in der TTRPG-Area!</h1>
        <div id="content" class="w-3/5 h-screen justify-self-center bg-zinc-900 rounded-lg">
            <p class="text-xl m-4 text-white font-normal">
                Willkommen in der TTRPG-Area, deinem Ort für alles, was Tabletop-RPGs angeht.
            </p>
            <h2 class="text-3xl m-4 mt-10 text-white font-bold">Online Charactersheet</h2>
            <p class="text-xl m-4 text-white font-normal">
                Mit dem Online-Charakterbogen kannst du von überall auf deine Charakter zugreifen. Keine zerknitterten Papierbögen mit Wasserflecken und voller Gekrakel mehr, hier kannst du 
                jederzeit auf deine Charakterbögen zugreifen und alles verwalten, was deine TTRPG-Abenteuer betrifft.
            </p>
            <h2 class="text-3xl m-4 mt-10 text-white font-bold">Terminplaner</h2>
            <p class="text-xl m-4 text-white font-normal">
                Mit dem Terminplaner für deine Sessions kommt es nie wieder zu 3-monatigen Pausen, nur weil alle zu faul sind, sich mal um einen nächsten Termin zu kümmern. Hier kannst du ganz 
                einfach, ohne großen Aufwand, Gruppen und Termine erstellen, zu denen deine Freunde zu- oder absagen können. 
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>