<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bennis Website</title>
    <link href="/output.css" rel="stylesheet">
</head>

<body class="">
    <main>
        <p>Bitte melde dich an, um fortzufahren:</p>
        <br>
        <form class="" action="/login" method="post">
            <label for="login_name">Benutzername</label>
            <input class="" type="text" id="login_name" name="login_name" value="<%= username %>"><br>
            <label for="login_password">Passwort</label>
            <input class="" type="password" id="login_password" name="login_password"><br>
            <input class="" type="submit" value="Login">
        </form>
        <p>Du hast noch keinen Account? Dann erstelle <a href="/create_acc" class="text-blue hover:underline">hier</a> einen neuen.</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>